:root {
  --bg-color: #030b1aff;      /* bleu foncé par défaut */
  --text-color: #fff;         /* texte général blanc */
  --btn-bg-color: #00bfff;    /* bleu pour boutons */
  --btn-text-color: #fff;     /* texte bouton */
  --navbar-bg: var(--btn-bg-color); /* fond navbar par défaut sombre */
  --navbar-text: var(--text-color); /* texte navbar par défaut */
}

body.light-mode {
  --bg-color: #fff;           /* fond clair */
  --text-color: #000;         /* texte général noir */
  --btn-text-color: #000;     /* texte bouton clair */
  --navbar-bg: #fff;          /* fond navbar clair */
  --navbar-text: #000;        /* texte navbar clair */
}

body, main, section, div {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.3s;
  font-family: cursive;
}

button {
  color: var(--btn-text-color);
  transition: 0.3s;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

a {
  color: grey;
  transition: 0.3s;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #00bfff;
}

/* Navbar */
.navbar a {
  color: var(--navbar-text);
  font-weight: normal;
  text-decoration: none;
  transition: 0.3s;
}

.navbar a.active {
  color: #17f;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

